.grid--products {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width : 768px) {
    .grid--products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

